@media screen and (max-width:992px){
    #logo{
        display: none;
    }
    #logo_sm{
        display: block;
        height: 40px;
        background: none;
    }
    .hide{
        display:none;
    }
    #sidebar{
        flex-direction: column;
    }
}
