@media screen and (max-width:992px){
    #logo{
        display: none;
    }
    #logo_sm{
        display: block;
        height: 40px;
        background: none;
    }
    .hide{
        display:none;
    }
    #sidebar{
        flex-direction: column;
    }
    #order_a{
        order: 1;
    }
    #order_b{
        order: 2;
    }
    #order_c{
        order: 3;
    }
    table#tab .hide-tab {
        display: none;
     }
}
