w_70{
    width: 70%;
}

.bg_blue{
    background-color: rgb(63, 63, 130);
}
.bg_gray{
    background-color: slategray;
}
.button{
    border: none;
    color: slategray;
    background: none;
}
.button-y{
    border: none;
    color: orange;
    background: none;
}