header{
    height: 30px;
}
main{
   min-height: calc(100vh - 30px);   
}
.my_app{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.side:hover{
    background-color: rgba(0, 0, 0, 0.228);
}
.w_50{
    width: 50%;
}
#set{
    margin-top: 0;
}
#sidebar{   
    background-image: url("img/sidebar-bg.png");
    background-size: cover;
    background-color: #051E34;
}
#main-cont{
    height: 100vh;
    padding-top: 40px;
}
.bg_blue{
    background-color: rgb(94, 94, 151);
}
.bg_gray{
    background-color: slategray;
}
/*FONT*/
.fs_8{
    font-size: 0.8em;
}
.fs_5{
    font-size:0.5em;
}
.fs_7{
    font-size: 0.7em;
}
.w_10{
    width: 10%;
    background: none;
}
/*BUTTON*/
.grayone{
    padding: 0.2rem;
    border: 1px solid gray;
}
#plus{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.inv{
    filter: opacity(50%)
}
.button{
    border: none;
    color: slategray;
    background: none;
    padding-right: 1.5rem;
}
.button-y{
    border: none;
    color: orange;
    background: none;
}
/*MARGIN*/
.me_03{
    margin-right: 0.3rem;
}
.m0{
    margin-top: 0;
}